img {
    height: 200px;
}

h3 {
border: 2px  solid blue;
    padding: 2px;
}

p {
    border: 2px solid blue;
    
   padding: 2px;
}

img {
    border: 2px solid blue;
    padding: 2px;
}
        
     